# Ignorar arquivos de pré-requisitos e dependências
*.d

# Ignorar arquivos objeto
*.o
*.ko
*.obj
*.elf

# Ignorar saída do linker
*.ilk
*.map
*.exp

# Ignorar headers pré-compilados
*.gch
*.pch

# Ignorar bibliotecas
*.lib
*.a
*.la
*.lo

# Ignorar objetos compartilhados e DLLs
*.dll
*.so
*.so.*
*.dylib

# Ignorar binários executáveis
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignorar diretórios de build
/build/
/bin/
/obj/

# Ignorar arquivos temporários
*.tmp
*.log

# Ignorar arquivos de debug
*.dSYM/
*.su
*.idb
*.pdb

# Ignorar arquivos de módulos de kernel
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignorar arquivos de editor ou IDE
*.vscode/
*.swp
*~
